#page-materias {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#page-materias #search-content {
  top: -67%;
}

#page-materias .main-container {
  width: 80%;
  min-height: 100%; /* Tentar tirar o height ou min-height */
  margin: -30% auto 51px;

  background: #FFFFFF;

  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px;

  justify-content: center;
}

#page-materias .main-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-materias .main-container fieldset {
  width: 70%;
  border: 0;
  padding: 0 2.4rem;
}

#page-materias .main-container fieldset legend {
  font: 700 28px 'Poppins', sans-serif;
  color: #4D3926;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E6E6F0;
}

#page-materias .main-container button {
  width: 193px;
  height: 41px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background: #297FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #fff;
  font: 500 18px "Poppins", sans-serif;

  margin-left: 65%;
}

#page-materias .main-container button:hover {
  filter: brightness(85%);
}

#page-materias .container-list-materias {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#page-materias .container-list-materias button {
  width: 734px;
  height: 71px; 
  margin-left: 0px;
  background: #FEFEFE;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
}

#page-materias .container-list-materias p {
  color: #29292E;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  padding-left: 20px;

}
