#search-content {
  position: relative;
  width: 820px;
  height: 60px;
  left: 32%;
  top: -45%;
  display: flex;
}

.form-search {
  width: 671px;
  height: 60px;

  background: #F1F1F8;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 6rem;

  color: #838383;
  font-size: 20px;
}

.icone-search {
  display: flex;
  margin-top: -7%;
  margin-left: 5%;
}

#search-content button {
  width: 135px;
  height: 60px;
  margin-left: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background: #297FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #fff;
  font: 700 22px "Poppins", sans-serif;
}

#search-content button:hover {
  filter: brightness(85%);
}